-@ val country: Country
-@ val title: String = "Showing country: " + country.name

h1 Showing #{country.name}
p The population is #{country.population}
h2 Armies
ul
  - for (army <- country.armies)
    li
      Name: #{army.name}
      Experience: #{army.experience}
